<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Who's that Pokemon?</h1>
    <div class="container">
        <form action="/pokemon/new" method="POST">
                    <p>Description: </p>
                    <input type="text" name="name" placeholder="name" id="name" /> 
                    <input type="text" name="type" placeholder="type" id="type" /> <br />
                    <p>Stats: </p>
                    <input type="text" name="hp" placeholder="HP" id="hp" /> 
                    <input type="text" name="attack" placeholder="attack" id="attack" /> 
                    <input type="text" name="defense" placeholder=defense id="defense" /> 
                </div>
                   <p><input type="submit" value="Add New Pokemon" /></p>
                   <a href="/pokemon">Go Back</a>
        </form>
        </div>
    </div>
</body>
</html>